[Unit]
Description=Node js application
Documentation=https://github.com/rishabNeu
After=network.target

[Service]
EnvironmentFile=/home/ec2-user/webapp/.env
WorkingDirectory=/home/ec2-user/webapp/

Type=simple
User=ec2-user
ExecStart=/usr/bin/node /home/ec2-user/webapp/server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target